@charset "UTF-8";
header{
	width: 700px;
	height: 300px;
	background-color: #ffdf98;
	font-size: 42px;
}
#container{
	display: flex;
	flex-direction: row;
}
aside{
	width: 200px;
	height: 305px;
	background-color: #efeadc;
}
article{
	width: 500px;
	height: 305px;
	background-color: #ffebcd;
}
footer{
	width: 700px;
	height: 50px;
	background-color: #dcdcdc;
}